{% extends "base.html" %}
{% block title %} Adicionar Placa {% endblock %}

{% block content %}
            <div class="row">

            <div class="col-md-4 col-md-offset-4">

                <form action="{{url_for('adicionar_placa')}}" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="nome_placa">Nome da Placa</label>
                    <input type="text" class="form-control" name="nome_placa" id="nome_placa" placeholder="Nome da Placa">
                  </div>
                  <div class="form-group">
                    <label for="fabricante">Fabricante</label>
                    <input type="text" class="form-control" id="fabricante" name="fabricante" placeholder="exemplo:(Brastemp, Eletrolux, Colormaq)">
                  </div>
                  <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Interface ou Potência">
                  </div>

                  <div class="form-group">
                    <label for="tipo">Conector</label>

                    <select type="text" class="form-control" id="conector" name="conector" placeholder="Tipo de Conector">
                            {% for connector in connectors %}
                                <option value="{{connector}}">{{connector}}</option>
                            {% endfor %}
                    </select>
                    <button type="button" name="plus" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></button>
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> -->
                  </div>

                  <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input" name="file">
                    <span class="custom-file-control"></span>
                  </label>

                  <div class="col-md-2 col-md-offset-4">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>

            </div>
            <div class="col-md-4 ">
                <div class="alert alert-info" role="alert" style="display:none">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                </div>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <form class="" action="{{connector}}" method="post">
                                <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title text-center">Adicionar Conector</h4>
                                </div>
                                <div class="modal-body">
                                        <div class="row">
                                                <div class="col-md-6 col-md-offset-3">
                                                        <div class="form-group">
                                                                <label class="text-center" for="nome-conector">Nome do Conector</label>
                                                                <input type="text" class="form-control" name="connector-name" id="nome-conector">
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="row">

                                                <div class="col-md-1">
                                                        <span>{{session['valores']}}</span>
                                                </div>

                                                <div class="col-md-6">
                                                        <canvas id="myCanvas" width="450" height="450"></canvas>
                                                </div>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" id="clean">Limpar</button>
                                        <button type="button" class="btn btn-info" id="submit" data-dismiss="modal">Submeter</button>
                                </div>

                        </form>


                </div>
              </div>
            </div>
        </div>
{% endblock %}

{% block bottom %}
        <script type="text/javascript">
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
                if (!data) return e.preventDefault() // stops modal from being shown
            })
        </script>
        <!-- Flash messages code-->
        <script type="text/javascript">
            $(document).ready( function(){
                {% with messages = get_flashed_messages() %}
                        {% if messages %}
                                $('.alert').slideDown(300).delay(2000).slideUp(300);
                                {% endif %}
                        {% endwith %}
                });
                $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                })
        </script>

        <!-- Contact Matrix code -->
        <script type="text/javascript">
                var canvas = document.getElementById("myCanvas");
                var ctx = canvas.getContext("2d");
                ctx.font="30px Arial";
                ctx.fillStyle = "#d5dbdb";
                ctx.fillRect(0,0,450,450);
                ctx.strokeRect(0,0,450,450);
                //draw vertical lines
                for (i=1; i <= 8; i++)
                {
                        ctx.moveTo(i*50,0);
                        ctx.lineTo(i*50, 450);
                        ctx.stroke();
                }
                //draw horizontal lines
                for (i=1; i<=8; i++)
                {
                        ctx.moveTo(0, i*50);
                        ctx.lineTo(450, i*50);
                        ctx.stroke();
                }
                var coordenadas = []
                ctx.canvas.addEventListener('click', function(event){
                        var rect = canvas.getBoundingClientRect();
                        var mouseX = event.clientX - rect.left;
                        var mouseY = event.clientY - rect.top;
                        var col = Math.round(mouseX/50);
                        var bit = Math.round(mouseY/50);
                        ctx.fillStyle = "#5A6A62";
                        if ((col >=1 & col <= 8) & (bit >=1 & bit <= 8))
                        ctx.fillRect((Math.round(mouseX/50)*50)-10,(Math.round(mouseY/50)*50)-10,20,20);
                        coordenadas.push(col);
                        coordenadas.push(bit);
                });
                var limpar = document.getElementById("clean");
                limpar.addEventListener('click', function(event){
                        ctx.fillStyle = "#d5dbdb";
                        ctx.fillRect(0,0,450,450);
                        ctx.strokeRect(0,0,450,450);
                        for (i=1; i <= 8; i++)
                        {
                                ctx.moveTo(i*50,0);
                                ctx.lineTo(i*50, 450);
                                ctx.stroke();
                        }
                        //draw horizontal lines
                        for (i=1; i<=8; i++)
                        {
                                ctx.moveTo(0, i*50);
                                ctx.lineTo(450, i*50);
                                ctx.stroke();
                        }
                        coordenadas = [];
                });
                var bot_enviar = document.getElementById("submit");
                bot_enviar.addEventListener('click', function(event){
                        console.log(coordenadas);
                        //add connector recently created to select box on the fly
                        var connector_name = document.getElementById("nome-conector").value;
                        var select_conn = document.getElementById("conector");
                        var opt = document.createElement("option");
                        opt.value = connector_name;
                        opt.innerHTML = connector_name;
                        select_conn.appendChild(opt);

                        //Send data to back end assycronously [coordinates and connector name]
                        $.ajax({
                                type: "POST",
                                url: "{{url_for('conn_scheema')}}",
                                data:   {
                                                c: JSON.stringify(coordenadas),
                                                name: connector_name
                                        }
                        }).done(function(o) {
                                console.log('saved');
                                alert("Conector Salvo");
                        });
                });
        </script>
{% endblock %}
