<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Adicionar Defeitos</title>
        <!-- Bootstrap links and scripts -->
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap-theme.min.css')}}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
        <script type="text/javascript">
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
                if (!data) return e.preventDefault() // stops modal from being shown
            })
        </script>

        <!-- SUMMERNOTE REQUIREMENTS-->
        <link href="{{url_for('static', filename='css/summernote.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename='js/summernote.js')}}"></script>

    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>JS Placas <small>Testador</small></h1>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <form action="{{url_for('add_defeito')}}" method="post">
                  <div class="form-group">
                    <label for="nome_defeito">Nome do Defeito</label>
                    <input type="text" class="form-control" id="nome_defeito" placeholder="Nome do Defeito" name="nome_defeito">
                  </div>
                  <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea type="text" class="form-control summernote" id="descricao" placeholder="Descrição do Defeito, Explicação" name="descricao"></textarea>

                  </div>
                  <div class="form-group">
                    <label for="conserto">Conserto</label>
                    <textarea type="text" class="form-control summernote" id="conserto" placeholder="Instruções para consertar" name="conserto"></textarea>
                    <p class="help-block">Componentes a substituir, trilhas a reparar, passo a passo</p>
                  </div>
                  <div class="form-group">
                      <select class="form-control" name="placa" id="placa">
                          {% for placa in dados_placas %}
                              <option value="{{placa[0]}}">
                                  {{placa[0]}} | {{placa[1]}}
                              </option>
                          {% endfor %}
                      </select>
                  </div>

                  <div class="col-md-2 col-md-offset-4">
                      <button type="submit" class="btn btn-primary t">Submit</button>
                  </div>
                </form>
            </div>
            <div class="col-md-4 ">
                <div class="alert alert-info" role="alert" style="display:none">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                </div>
            </div>

        </div>
    </body>
    <!-- summernote configuration -->
    <script type="text/javascript">
        $(document).ready(function() {
          $('.summernote').summernote({
              toolbar: [
                ['para', ['ul', 'ol']],
              ]
          });
        });
    </script>
    <!--  Falsh messages code-->
    <script type="text/javascript">
        $(document).ready( function(){
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                $('.alert').slideDown(300).delay(2000).slideUp(300);
              {% endif %}
            {% endwith %}
        });
    </script>
</html>
