<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>{% block title %} {% endblock %}</title>
                <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
                <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap-theme.min.css')}}">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
                <style media="screen">
                        .page-header {
                                padding-bottom: 9px;
                                margin: 40px 0 20px;
                                border-bottom: 3px solid #eee;
                                width: 100%;
                        }
                </style>

                {% block header %}
                {% endblock %}
        </head>
        <body>
                <div class="container">
                        <div class="page-header">
                                <h1 class="text-center">JS Placas <small>Testador</small>
                                        {% if 'workbench_name' in session: %}
                                                <span class="label label-danger">{{session['workbench_name']}}</span>
                                                <span class="label label-info">{{session['workbench_ip']}}</span>
                                        {% endif %}
                                        {% if 'workbench_name' not in session: %}
                                                <span class="label label-danger">Sem Bancada</span>
                                                <span class="label label-info">Sem IP</span>
                                        {% endif %}
                                </h1>
                                <ul class="nav nav-pills">
                                    <li role="presentation"><a href="{{url_for('test')}}">Testar</a></li>
                                    {% if 'user' in session %}
                                            {% if session['role'] %}
                                                    <li role="presentation"><a href="{{url_for('adicionar_placa')}}">Adicionar Placa</a></li>
                                                    <li role="presentation"><a href="{{url_for('add_defeito')}}">Adicionar Defeito</a></li>
                                                    <li role="presentation"><a href="{{url_for('connector')}}">Adicionar Conector</a></li>
                                                    <li role="presentation"><a href="{{url_for('b_crud')}}">CRUD Placas</a></li>
                                            {% endif %}
                                    {% endif %}
                                    <li role="presentation"><a href="{{url_for('work_bench')}}">Bancada</a></li>
                                    {% if 'user' not in session %}
                                    <li role="presentation"><a href="{{url_for('authentication')}}">Login</a></li>
                                    <li role="presentation"><a href="{{url_for('add_user')}}">Registrar</a></li>
                                    {% endif %}
                                    {% if 'user' in session%}
                                    <li role="presentation"><a href="{{url_for('logout')}}">Sair</a></li>
                                    {% endif %}

                                </ul>
                        </div>
                        {% block content %}

                        {% endblock %}
                </div>

                <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
                {% block bottom %}
                {% endblock %}
        </body>

</html>
