<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>Registrar conectores</title>
                <meta charset="utf-8">
                <title>Adicionar Placa</title>
                <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
                <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap-theme.min.css')}}">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
                <script type="text/javascript">
                    $('#myModal').on('shown.bs.modal', function () {
                        $('#myInput').focus()
                        if (!data) return e.preventDefault() // stops modal from being shown
                    })
                </script>
        </head>
        <body>
                <div class="container">
                        <div class="page-header">
                            <h1>JS Placas <small>Testador</small></h1>
                        </div>
                        <div class="row">
                                <span></span>
                        </div>
                        <div class="row">
                                <span>&nbsp</span>
                        </div>
                        <div class="row">
                                <div class="col-md-5 col-md-offset-3 ">
                                        <canvas id="myCanvas" width="450" height="450"></canvas>
                                </div>
                                <div class="col-md-3">
                                        <p><button type="button" class="btn btn-info" id="clean">Limpar</button></p>
                                        <p><button type="button" class="btn btn-info" id="submit">Submeter</button></p>
                                </div>
                        </div>


                </div>
                <script type="text/javascript">
                        var canvas = document.getElementById("myCanvas");
                        var ctx = canvas.getContext("2d");
                        ctx.font="30px Arial";

                        ctx.fillStyle = "#d5dbdb";
                        ctx.fillRect(0,0,450,450);
                        ctx.strokeRect(0,0,450,450);
                        //draw vertical lines
                        for (i=1; i <= 8; i++)
                        {
                                ctx.moveTo(i*50,0);
                                ctx.lineTo(i*50, 450);
                                ctx.stroke();
                        }
                        //draw horizontal lines
                        for (i=1; i<=8; i++)
                        {
                                ctx.moveTo(0, i*50);
                                ctx.lineTo(450, i*50);
                                ctx.stroke();
                        }
                        var coordenadas = []
                        ctx.canvas.addEventListener('click', function(event){
                                var rect = canvas.getBoundingClientRect();
                                var mouseX = event.clientX - rect.left;
                                var mouseY = event.clientY - rect.top;
                                var col = Math.round(mouseX/50);
                                var bit = Math.round(mouseY/50);
                                ctx.fillStyle = "#5A6A62";
                                if ((col >=1 & col <= 8) & (bit >=1 & bit <= 8))
                                ctx.fillRect((Math.round(mouseX/50)*50)-10,(Math.round(mouseY/50)*50)-10,20,20);
                        });

                        var limpar = document.getElementById("clean");
                        limpar.addEventListener('click', function(event){
                                ctx.fillStyle = "#d5dbdb";
                                ctx.fillRect(0,0,450,450);
                                ctx.strokeRect(0,0,450,450);
                                for (i=1; i <= 8; i++)
                                {
                                        ctx.moveTo(i*50,0);
                                        ctx.lineTo(i*50, 450);
                                        ctx.stroke();
                                }
                                //draw horizontal lines
                                for (i=1; i<=8; i++)
                                {
                                        ctx.moveTo(0, i*50);
                                        ctx.lineTo(450, i*50);
                                        ctx.stroke();
                                }

                        });

                        /*
                        $.ajax({
                          type: "POST",
                          url: "{{url_for('conector')}}",
                          data: {
                             imageBase64: dataURL
                            }
                        }).done(function(o) {
                          console.log('saved');
                          alert("Imagem enviada para o servidor");
                        });
                        */




                </script>
        </body>
</html>
