{% extends "base.html"%}
{% block title %} Adicionar conector {% endblock %}
{% block content %}

        <form class="" action="index.html" method="post">
                <input type="hidden" class="form-control" name="connector-name" id="nome-conector" value="{{session['connector_name']}}">
        </form>
        <div class="row">
                <span></span>
        </div>
        <div class="row">
                <span>&nbsp</span>
        </div>

        <div class="row">
                <div class="col-md-3 ">
                        <span>{{session['valores']}}</span>
                </div>
                <div class="col-md-6">
                        <canvas id="myCanvas" width="450" height="450"></canvas>
                </div>
                <div class="col-md-3">
                        <p><button type="button" class="btn btn-danger" id="clean">Limpar</button></p>
                        <p><button type="button" class="btn btn-info" id="submit">Submeter</button></p>
                        <p><a href="{{url_for('connector')}}"><button type="button" class="btn btn-success">Avançar</button></a></p>
                </div>
        </div>
{% endblock %}
{% block bottom %}
        <script src="{{url_for('static', filename = 'js/conn_scheema_register.js')}}"></script>
{% endblock %}
