<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Adicionar desenho</title>
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap-theme.min.css')}}">


        <!-- drawingboard.js -->
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/drawingboard.min.css')}}">

    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-4">
                        <h1>JS Placas <small>Testador</small></h1>
                    </div>
                    <div class="col-md-4">
                        <h1><button type="button" class="btn btn-primary" id="enviar_desenho">Enviar Imagem</button></h1>
                    </div>
                    <div class="col-md-4">
                        <h1><small>Desenho Auxiliar</small></h1>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="example" data-example="1">
                    <div class="board" id="default-board"></div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/drawingboard.min.js')}}"></script>

        <script type="text/javascript">
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
                if (!data) return e.preventDefault() // stops modal from being shown
            })
        </script>
        <style>
        	#default-board {
        		width: 1100px;
        		height: 520px;
        	}
        </style>
        <!-- drawingboard code -->
        <script type="text/javascript">
            //create the drawingboard by passing it the #id of the wanted container
            var defaultBoard = new DrawingBoard.Board('default-board',{
                background: "{{url_for('static', filename = 'pictures/raw/{0}.png'.format(nome_placa))}}",
                webStorage: 'false'
            });
            defaultBoard.addControl('Download');

        </script>

        <!-- Enviar o desenho para o servidor -->

        <script type="text/javascript">
            $('#enviar_desenho').click( function() {

                $('.drawing-board-canvas').attr("name", "desenho_editado")
                var canvas = document.getElementsByClassName("drawing-board-canvas")[0];

                var dataURL = canvas.toDataURL();

                $.ajax({
                  type: "POST",
                  url: "{{url_for('desenho')}}",
                  data: {
                     imageBase64: dataURL
                    }
                }).done(function(o) {
                  console.log('saved');
                  alert("Deu certo");
                });
            });

        </script>
    </body>
</html>
