{% extends 'base.html' %}

{% block title %} Teste de zoom {% endblock %}

{% block header %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/magnify.css')}}">

        <script type="text/javascript">
                var send_deffect = function(){
                        var board_name = document.getElementById("board-name").innerHTML;
                        var deffect = document.getElementById("defeito").value;
                        $.ajax({
                                url: "{{url_for('h_test')}}",
                                type: "POST",
                                data: {
                                        deffect: deffect,
                                        board_name: board_name
                                },
                                success: function(responseData){
                                        $("#board-pic").attr('src', responseData[1]);
                                        $("#board-pic").attr('data-magnify-src', responseData[0]);
                                        $("#board-pic").attr('data-magnify-src', responseData[0]);
                                        $(".fixing")[0].innerHTML = responseData[2][1];
                                        $(".description")[0].innerHTML = responseData[2][0];

                                        console.log(responseData[0]);
                                        //$("#board-pic").attr('data-magnify-src', responseData);
                                }
                        });
                }
        </script>
        <script type="text/javascript">
                var turn_phase = function(){
                        $.ajax({
                                url: "{{url_for('phase')}}",
                                type: "GET",
                                data: "",
                                success: function(){
                                        alert("Fase Ligada");
                                }
                        });
                }
        </script>

{% endblock %}

{% block content %}
        <div class="row">
                <div class="col-md-4">
                        <ul class="nav nav-pills">
                          <li role="presentation" id="im-pill" ><a href="#">Imagem</a></li>
                          <li role="presentation" id="doc-pill"><a href="#">Documentação</a></li>
                        </ul>
                </div>
                <div class="col-md-4 ">
                        <h1><span class="label label-primary" id="board-name">{{session['board_name']}}</span></h1>
                        <span><button type="button" class="btn btn-danger" name="button" onclick="turn_phase()">Switch Phase</button></span>
                </div>

                <div class="col-md-4">
                        <form action="index.html" method="post">
                                <div class="form-group">
                                        <label for="defeito">Escolha o Defeito</label>

                                        <select class="" id="defeito" name="defeito" onchange='send_deffect()'>
                                                <option value=""></option>
                                                {% for deffect in deffect_list %}
                                                        <option value="{{deffect}}">{{deffect}}</option>
                                                {% endfor %}
                                        </select>
                                </div>
                        </form>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-md-offset-5">
                        <span class="label label-success">Conector configurado</span>
                </div>
        </div>
        <div class="row image">
                <img src="{{url_for('static', filename='pictures/raw/small_{0}.png'.format(board_name))}}" class="zoom" id="board-pic" data-magnify-src="{{url_for('static', filename='pictures/raw/large_{0}.png'.format(board_name))}}">
        </div>
        <div class="row docs">
                <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default">
                                <div class="panel-heading">Descrição</div>
                                <div class="panel-body description">

                                </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="panel panel-default">
                                <div class="panel-heading">Conserto</div>
                                <div class="panel-body fixing">

                                </div>
                        </div>
                </div>
        </div>

{% endblock %}

{% block bottom %}
<script src="{{url_for('static', filename='js/jquery.magnify.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.magnify-mobile.js')}}"></script>
        <script type="text/javascript">
                $(document).ready(function() {
                        $('.zoom').magnify();

                        $('.docs').hide();
                        $("#im-pill").click(function(event){
                                $(".docs").slideUp(500);
                                $(".image").slideDown(1000);
                        });
                        $("#doc-pill").click(function(event){
                                $(".image").slideUp(500);
                                $(".docs").slideDown(500);
                        });
                });
        </script>
{% endblock %}
