{% extends "base.html"%}

{%block title%} {% endblock %}

{% block content %}
        <div class="row">
                <div class="col-md-4 col-md-offset-4">
                        <h1><span class="label label-primary">{{board_name}}</span></h1>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-md-offset-5">
                        <span class="label label-success">Conector configurado</span>
                </div>
        </div>
{% endblock %}
