<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta charset="utf-8">
        <title>Adicionar Defeitos</title>
        <!-- Bootstrap links and scripts -->
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap-theme.min.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
        <script type="text/javascript">
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
                if (!data) return e.preventDefault() // stops modal from being shown
            })
        </script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1 class="text-center">JS Placas <small>Testador</small></h1>
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="{{url_for('test')}}">Testar</a></li>
                    <li role="presentation"><a href="{{url_for('adicionar_placa')}}">Adicionar Placa</a></li>
                    <li role="presentation"><a href="{{url_for('add_defeito')}}">Adicionar Defeito</a></li>
                    <li role="presentation"><a href="{{url_for('connector')}}">Adicionar Conector</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        <h3 class="panel-title">Sem conexão com o Banco de Dados</h3>
                      </div>
                      <div class="panel-body">
                        A aplicação não conseguiu se conectar ao Banco de Dados. Verifique os motivos
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Erro</h3>
                      </div>
                      <div class="panel-body">
                          {{error}}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
