{% extends "base.html" %}
{% block title %}  Teste {% endblock %}

{%block content %}
        <div class="col-md-4 col-md-offset-4">
                <!-- TERMINAR -->
                <form class="" action="/test" method="post">
                        <label for="placa">Escolha a Placa</label>
                        <div class="form-group">
                            <select class="form-control" name="placa" id="placa">
                                {% for placa in dados_placas %}
                                    <option value="{{placa[0]}}">
                                        {{placa[0]}} | {{placa[1]}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-offset-4">
                                <button type="submit" class="btn btn-primary btn-lg">Iniciar Teste</button>
                        </div>
                </form>
        </div>
{% endblock %}
