<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>Registrar conectores</title>
                <meta charset="utf-8">
                <title>Adicionar Placa</title>
                <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
                <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap-theme.min.css')}}">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
                <script type="text/javascript">
                    $('#myModal').on('shown.bs.modal', function () {
                        $('#myInput').focus()
                        if (!data) return e.preventDefault() // stops modal from being shown
                    })
                </script>
        </head>
        <body>
                <div class="container">
                        <div class="page-header">
                            <h1 class="text-center">JS Placas <small>Testador</small></h1>
                            <ul class="nav nav-pills">
                                <li role="presentation"><a href="{{url_for('test')}}">Testar</a></li>
                                <li role="presentation"><a href="{{url_for('adicionar_placa')}}">Adicionar Placa</a></li>
                                <li role="presentation"><a href="{{url_for('add_defeito')}}">Adicionar Defeito</a></li>
                                <li role="presentation"><a href="{{url_for('connector')}}">Adicionar Conector</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                                <!-- TERMINAR -->
                                <form class="" action="index.html" method="post">
                                        <label for="placa">Escolha a Placa</label>
                                        <div class="form-group">
                                            <select class="form-control" name="placa" id="placa">
                                                {% for placa in dados_placas %}
                                                    <option value="{{placa[0]}}">
                                                        {{placa[0]}} | {{placa[1]}}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-offset-4">
                                                <button type="submit" class="btn btn-primary btn-lg">Iniciar Teste</button>
                                        </div>
                                </form>
                        </div>
                </div>
        </body>
</html>
